repos:
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check
        args:
          - --frozen
      - id: clippy
        args:
          - --no-deps
          - --fix
          - --allow-staged
          - --allow-dirty
