[package]
name = "todors"
description = "todo app with CLI, REST & gRPC interfaces"
license = "MIT"
version = "0.2.1"
edition = "2021"

[dependencies]
clap = { version = "4.2.2", features = ["derive"] }
config = "0.13.3"
dirs = "5.0.0"
serde = "1.0.160"
slog = "2.7.0"
slog-async = "2.7.0"
slog-term = "2.9.0"
sqlx = { version = "0.6.3", features = ["sqlite", "runtime-tokio-rustls", "migrate"] }
tokio = { version = "1", features = ["full"] }

[dev-dependencies]
cargo-watch = "8.4.0"
fake = { version = "2.5.0", features = ["derive"] }
just = "1.13.0"

[profile.release]
lto = "fat"
codegen-units = 1
panic = "abort"
strip = true
