app = "todors"
primary_region = "ams"

kill_timeout = 120

[build]
  dockerfile = "docker/Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  [http_service.concurrency]
    type = "requests"
    soft_limit = 200
    hard_limit = 10000

[checks]
  [[services.http_checks]]
    interval = 10000
    grace_period = "5s"
    method = "get"
    path = "/"
    protocol = "http"
    restart_limit = 0
    timeout = 2000
    tls_skip_verify = false
    [services.http_checks.headers]


[mounts]
source="todors"
destination="/data"

[env]
  LOG_LEVEL = "info"
  DB_URL = "/data/todors.db"
