name: build-binary

concurrency:
  group: build-binary-${{ github.ref }}
  cancel-in-progress: true

on:
  release:
    types:
      - published
  push:
    branches:
      - meysam/ci/multi-platform-build

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    container: rust:1
    strategy:
      matrix:
        # include:
        #   - image: ubuntu-latest
        #     target: x86_64-unknown-linux-gnu
        #   - image: macos-latest
        #     target: x86_64-apple-darwin
        #   - image: windows-latest
        #     target: x86_64-pc-windows-msvc
        #   - target: x86_64-unknown-linux-musl
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-apple-darwin
          - x86_64-pc-windows-msvc
          - x86_64-unknown-linux-musl
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust stable
        run: |
          rustup toolchain install stable --target ${{ matrix.target }}
      # - name: Install mold
      #   uses: rui314/setup-mold@v1
      - name: Build
        run: |
          cargo build --release --target ${{ matrix.target }}
      # - name: Rename binary
      #   run: |
      #     cp target/${{ matrix.target }}/release/todors target/${{ matrix.target }}/release/todors-${{ matrix.target }}
      # - name: Checksum
      #   run: |
      #     cd target/${{ matrix.target }}/release
      #     sha256sum todors-${{ matrix.target }} > todors-${{ matrix.target }}.sha256
      # - name: Upload assets
      #   uses: softprops/action-gh-release@v1
      #   with:
      #     files: |
      #       target/${{ matrix.target }}/release/todors-${{ matrix.target }}
      #       target/${{ matrix.target }}/release/todors-${{ matrix.target }}.sha256
