name: docker-images-edge
concurrency:
  cancel-in-progress: false
  group: docker-images-edge-${{ github.ref }}

on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - image-repo: ${{ github.repository_owner }}/todors
            dockerfile: ./docker/Dockerfile
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Cache docker layers
        uses: actions/cache@v3
        with:
          path: |
            /tmp/.buildx-cache
            /var/lib/docker
          key: ${{ runner.os }}-buildx-${{ hashFiles('**/Dockerfile') }}
      - name: Set up QEMU needed for Docker
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          logout: false
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
      - id: readme
        name: Read README
        uses: juliangruber/read-file-action@v1
        with:
          path: README.md
      - name: Login to Docker hub
        uses: docker/login-action@v2
        with:
          logout: false
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
      - id: meta
        name: Docker metadata
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.REGISTRY }}/${{ matrix.image-repo }}
          labels: |
            org.opencontainers.image.description: ${{ steps.readme.outputs.content }}
      - id: short-sha
        name: Set image tag
        run: |
          echo "short-sha=$(echo ${{ github.sha }} | cut -c 1-7 )" >> $GITHUB_OUTPUT
      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          file: ${{ matrix.dockerfile }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ matrix.image-repo }}:${{ steps.short-sha.outputs.short-sha }}
            ${{ env.REGISTRY }}/${{ matrix.image-repo }}:latest
            ${{ matrix.image-repo }}:${{ steps.short-sha.outputs.short-sha }}
            ${{ matrix.image-repo }}:latest
