name: rust-doc

concurrency:
  group: rust-doc-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Rust stable
        run: |
          rustup toolchain install stable
      - name: Install mold
        uses: rui314/setup-mold@v1
      - name: Build docs
        run: |
          cargo doc --no-deps
      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc/todors
          publish_branch: gh-pages
